@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@using BBMartUtility;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BBSuperMart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?version=1" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    <header class="header sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light   box-" style="background: rgba(247, 204, 119, 1.0); background: -webkit-linear-gradient(top left, rgba(247, 204, 119, 1.0), rgba(239, 166, 47, 1.0)); background: -moz-linear-gradient(top left, rgba(247, 204, 119, 1.0), rgba(239, 166, 47, 1.0)); background: linear-gradient(to bottom right, rgba(247, 204, 119, 1.0), rgba(239, 166, 47, 1.0)); " id="navbar">
            <div class="container position-sticky">
                <a class="navbar-brand text-dark font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">BB<span class="text-white">-</span><span class="text-success font-weight-bolder">Mart</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-location-dot pl-3 pt-2"></i><span class=" font-weight-light mr-2"> Mumbai</span></a>
                        </li>

                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Searchbar</a>
                            </li>*@
                    </ul>
                    <div class="input-group md-form form-sm form-1 pl-0">
                        <input class="form-control" style="border-block-color:greenyellow" type="text" placeholder="Search products here.." aria-label="Search">
                        <div class="input-group-append">
                            <span class="input-group-text amber lighten-3" style="background-color:yellowgreen; cursor:pointer">
                                <i class="fas fa-search text-white"
                                   aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>

                    @*<div class="btn btn-outline-light ml-3" style="display:flex; cursor:pointer"><span>Login</span><i class="fa-solid fa-user-tie pt-1 pl-2"></i></div>
                        <div class="btn btn-outline-dark ml-2" role="button" style="display:flex; cursor:pointer"><span>Signup</span><i class="fa-solid fa-user-tie pt-1 pl-2"></i></div>*@

                </div>
                @* Collapse end *@
                <!-- Below code is for User UI only-->
                @if (HttpContextAccessor.HttpContext.Session.Get<List<WishListCart>>(WC.SessionWishlistCart) != null)
                {
                    <a asp-controller="cart" asp-action="wishListIndex" class="nav-link">
                        @{
                            var count = HttpContextAccessor.HttpContext.Session.Get<List<WishListCart>>(WC.SessionWishlistCart).Count;
                        }
                        <div class="heart d-inline-flex"><i class="fa-solid fa-heart fa-2x"></i>&nbsp;<span class="pt-2">@count</span></div>
                    </a>
                }
                else
                {
                    <a href="#" class="nav-link">
                        <div class="heart d-inline-flex "> <i class="fa-solid fa-heart fa-2x"></i>&nbsp;<span class="pt-2">0</span></div>
                    </a>
                }

                <!--shopping cart-->
                @if (HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart) != null)
                {
                    <a asp-controller="cart" asp-action="Index" class="nav-link">
                        @{
                            var count = HttpContextAccessor.HttpContext.Session.Get<List<ShoppingCart>>(WC.SessionCart).Count;
                        }
                        <div class="cart d-inline-flex"><i class="fa-solid fa-bag-shopping fa-2x "></i>&nbsp;<span class="pt-2">@count</span></div>
                    </a>
                }
                else
                {
                    <a href="#" class="nav-link">
                        <div class="cart d-inline-flex"><i class="fa-solid fa-bag-shopping fa-2x "></i>&nbsp;<span class="pt-2">0</span></div>
                    </a>
                }

                <!--Admin UI-->
                <ul class="navbar-nav mr-auto text-right ">

                    <li class="nav-item dropdown ">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-sliders"></i><span> Settings</span>
                        </a>

                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <partial name="_LoginPartial" />
                            @if (User.IsInRole(WC.CustomerRole))
                            {
                                <a class="nav-link text-warning" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                                <a class="nav-link text-warning" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                            }
                            <div class="dropdown-divider"></div>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-danger">Logout</button>
                                </form>
                            }
                        </div>

                    </li>
                </ul>
            </div>

        </nav>
    </header>
    @* below code is for User UI  *@



    @* categories *@

    <div class="pl-5 pt-2 " style="/* Created with https://www.css-gradient.com */ background: rgba(242, 164, 96, 1.0); background: -webkit-linear-gradient(top left, rgba(242, 164, 96, 1.0), rgba(244, 203, 86, 1.0)); background: -moz-linear-gradient(top left, rgba(242, 164, 96, 1.0), rgba(244, 203, 86, 1.0)); background: linear-gradient(to bottom right, rgba(242, 164, 96, 1.0), rgba(244, 203, 86, 1.0));">
        <h4><span class="text-white"><marquee>Best Deals and FREE Shipping</marquee></span></h4>
    </div>

    

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    @*</div>*@



    <!-- Footer -->
    <footer class="text-center text-lg-start text-white  my-5"
            style="background-color: #45526e">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            BB-Mart
                        </h6>
                        <p>
                            Best SuperMarket in the World.
                            One stop solution for all your daily needs.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                        <p>
                            <a class="text-white">Veggies</a>
                        </p>
                        <p>
                            <a class="text-white">Fruits</a>
                        </p>
                        <p>
                            <a class="text-white">Bakery</a>
                        </p>
                        <p>
                            <a class="text-white">Many more..</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Useful links
                        </h6>
                        <p>
                            <a class="text-white">Account</a>
                        </p>
                        <p>
                            <a class="text-white">Orders</a>
                        </p>
                        <p>
                            <a class="text-white">Shipping Rates</a>
                        </p>
                        <p>
                            <a class="text-white">Help</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fas fa-home mr-3"></i>Mumbai 401107</p>
                        <p><i class="fas fa-envelope mr-3"></i> BBMart@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 91 9082356825</p>
                   
                    </div>
                    <!-- Grid column -->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-3">

            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <!-- Copyright -->
                        <div class="p-3">
                            © 2022 Copyright:
                            <a class="text-white"></a>
                        </div>
                        <!-- Copyright -->
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                        <!-- Facebook -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           class="text-white"
                           role="button">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <!-- Twitter -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           class="text-white"
                           role="button">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <!-- Google -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           class="text-white"
                           role="button">
                            <i class="fab fa-google"></i>
                        </a>

                        <!-- Instagram -->
                        <a class="btn btn-outline-light btn-floating m-1"
                           class="text-white"
                           role="button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <!-- Grid column -->
                </div>
            </section>
            <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>